extends ../layout

block content
  - if (feedItems.length)
    - if (isNaN(fid))
      a(href='/user/#{uid}/feeds/refresh') REFRESH
    - else
      // For single feed
      // Feed title
      h1 
      // Feed controller
      a(href='/user/#{uid}/feeds/#{fid}/refresh') REFRESH&nbsp;&nbsp;&nbsp;
      a(href='/user/#{uid}/feeds/#{fid}/edit') EDIT
      form(method='POST', action='/user/#{uid}/feeds/#{fid}')
        input(type='hidden', name='_method', value='DELETE')
        button.btn.btn-primary(type='submit') Unsubscribe
    - each item in feedItems
      .feed
        h3
          a(href='#{item.url}') #{item.title}
        .desciption
          !{item.description}
        
        .meta
          span #{moment(item.pubDate).format('MMMM Do YYYY, h:mm:ss a')} 
          - if (item.author)
            | &nbsp; | &nbsp;
            span Author: #{item.author}
            
        
    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    - if (pages === 0)
      h4 No feed.&nbsp;
        a(href='/user/#{uid}/feeds/new') Create one.