extends ../layout

block content
  #wrapper
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      // Header
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target=".sidebar-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/user/#{uid}/feeds")
          img(src="/images/newspaper-feed-256x256.png")
          span.logo-letter Edify

      ul.nav.navbar-top-links.navbar-right
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            i.fa.fa-user.fa-fw
            i.fa.fa-caret-down
          ul.dropdown-menu.dropdown-messages
            li
              a.user-edit(href="/user/edit")
                i.fa.fa-gear.fa-fw
                | &nbsp;Settings
            li.divider
            li
              a(href="/user/logout")
                i.fa.fa-sign-out.fa-fw
                | &nbsp;Logout

      // Sidebar
      .navbar-default.navbar-static-side(role="navigation")
        .sidebar-collapse.sidebar-custom
          ul.nav#side-menu
            li
              a.feeds-new(href="/user/#{uid}/feeds/new")
                i.fa.fa-plus.fa-fw
                | &nbsp;Add a subscription
            li
              a(href="/user/#{uid}/feeds")
                i.fa.fa-list.fa-fw
                | &nbsp;All items
            - each feedTitle in feedTitles
              li
                a(href="/user/#{uid}/feeds/#{feedTitle._id}") #{feedTitle.title}

    #page-wrapper
      - if (feedItems.length)
        // Feed header
        .page-header
          - if (fid === undefined)
            // All feeds
            - var fidUrl = ""
            span.feed-header
              | All items
            span.feed-controller
              a.btn.btn-default(href='/user/#{uid}/feeds/refresh')
                i.glyphicon.glyphicon-refresh
                span.a-refresh &nbsp; REFRESH

          - else
            // For single feed
            - var fidUrl = "#{fid}/"
            span.feed-header
              | #{feedTitles[0].title}

            // Feed controller
            span.feed-controller
              a.btn.btn-default(href='/user/#{uid}/feeds/#{fid}/refresh')
                i.glyphicon.glyphicon-refresh
                span.a-refresh &nbsp; REFRESH
              form(method='POST', action='/user/#{uid}/feeds/#{fid}')
                input(type='hidden', name='_method', value='DELETE')
                button.btn.btn-default(type='submit')
                  i.glyphicon.glyphicon-remove
                  | &nbsp; UNSUBSCRIBE
              //a(href='/user/#{uid}/feeds/#{fid}/edit') EDIT

        // Feed items
        - each item in feedItems
          .well
            .page-header
              h4: a(href='#{item.url}', target="_blank") #{item.title}
              .meta-date
                span #{moment(item.pubDate).format('MMMM Do YYYY, h:mm:ss a')}
              - if (item.author)
                .meta-author
                  span by&nbsp;
                    strong #{item.author}

            .desciption
              !{item.description}

        - if (pages > 1)
          .text-center
            ul.pagination.pagination-large
              include ../pagination



      - else
        - if (pages === 0)
          script.
            $("#page-wrapper").css("padding-left", 5);
          h4
            i.glyphicon.glyphicon-arrow-left
            | &nbsp; Get started by clicking the "Add a subscription" button to the left!

  script.
    $("li a.user-edit").click(function(e) {
      e.preventDefault();

      $.ajax("/user/edit").done(function(data) {
        $("#page-wrapper").html(data);
      });
    });

    $("#side-menu a.feeds-new").click(function(e) {
      e.preventDefault();

      $.ajax("/user/#{uid}/feeds/new").done(function(data) {
        $("#page-wrapper").html(data);
      });
    });
